/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');*/
@font-face {
  font-family: halogen;
  src: url(/font/Halogen.woff);
}
body {
  color: white;
  background-color: black;
  font-family: halogen;
  font-size: 110%;
}
