@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  color: lightgray;
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

p {
  border-left: 2px solid lightgray;
  margin-left: 15px;
}

a:link, a:visited {
  color: white;
}

a:hover {
  color: gray;
}

a:active, b, i, strong {
  color: white;
}
